<!DOCTYPE html>
<html>

<head>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
</head>

<body>
	{% block content %}
	{% endblock %}

    <script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function() {
            $('.collapsible').collapsible();
            $('select').material_select();
        });

        $('.datepicker').pickadate({
            selectMonths: true, // creating dropdown for control of month
            selectYears: 15, // creating a dropdown with 15 years
            today: 'Today',
            clear: 'Clear',
            close: 'Ok',
            closeOnSelect: false // close when date selected
        });
        
        // document.getElementById("matfix").addEventListener("click", function(e) {
        //     e.stopPropagation();
        // });
    </script>

</body>
</html>