<!DOCTYPE html>
<html>

<head>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
    <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}" type="text/css"/>
</head>

<body>
	{% block content %}
	{% endblock %}

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function() {
            $('.collapsible').collapsible();
            $('select').material_select();
        });

        $('.datepicker').pickadate({
            selectMonths: true, // creating dropdown for control of month
            selectYears: 15, // creating a dropdown with 15 years
            today: 'Today',
            clear: 'Clear',
            close: 'Ok',
            closeOnSelect: false // close when date selected,
        });
    </script>

</body>
</html>